<%= render('layouts/errors', :object => @lesson) %>

<%= form_for [@course, @week, @lesson] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <p><%= f.submit %></p>
<% end %>
