<h1><%= @course.name %></h1>

<% if @course.weeks.any? %>
  <br>
  <ul>
    <% @course.weeks.each do |week| %>
      <li class="list-unstyled"><h4>
        (<%= week.timeframe %> ) <%= link_to week.description, course_week_path(@course, week) %></h4> |
        <%= link_to "Edit", edit_course_week_path(@course, week) %> |
        <%= link_to "Delete", course_week_path(@course, week),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no weeks yet!</p>
<% end %>
<%= link_to "New", new_course_week_path(@course) %>
<p><%= link_to "Edit", edit_course_path(@course) %></p>
<p><%=  link_to "Delete", course_path(@course),
                                :data => {:confirm => "Are you certain?",
                                  :method => "delete"}%></p>

<p><%= link_to "Return to courses", courses_path %></p>
